[submodule "thirdparty/vps2arch"]
	path = thirdparty/vps2arch
	url = git@github.com:gauravjuvekar/vps2arch.git
[submodule "plays/roles/ansible-firefox"]
	path = plays/roles/firefox
	url = git@github.com:gauravjuvekar/ansible-firefox.git
